asgiref==3.8.1
Django==5.1.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0
sqlparse==0.5.1

# Additional Packages
django-cors-headers==3.14.0       # CORS headers for handling frontend-backend requests
pillow==10.0.0                    # For image handling

#mapComponent for Rides
@react-google-maps/api

# # Database Driver 
# psycopg2==2.9.6                   # PostgreSQL database driver
# mysqlclient==2.1.3                # MySQL database driver