asgiref==3.8.1
Django==5.1.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
PyJWT==2.9.0
sqlparse==0.5.1

# Additional Packages
django-cors-headers==3.14.0       # CORS headers for handling frontend-backend requests
pillow==10.0.0                    # For image handling

#mapComponent for Rides
# npm @react-google-maps/api

# Python Libraries
joblib==1.3.2                     # For joblib (model serialization)
pandas==2.1.1                     # Data analysis and manipulation
geopy==2.3.0                      # Geocoding and geospatial operations
scikit-learn==1.3.2               # Machine Learning library

# # Database Driver 
# psycopg2==2.9.6                   # PostgreSQL database driver
mysqlclient              # MySQL database driver
sqlparse

kafka-python==2.0.2
simplejson
confluent-kafka
django-extensions
gunicorn
